*,
*::before,
*::after {
}

body {
  @apply overflow-x-hidden min-h-screen m-0 p-0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: var(--measure);
}


table {
  @apply w-full;
}

@media (--from-medium-viewport) 
pre,
.table-wrapper {
  overflow-x: auto;
}
