.hero {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: 0;
  background-image: var(--hero-img);
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.hero__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

.hero__masthead {
  color: #fff;
  z-index: 2;
}
