<footer class="text-base o-center mt-8 pb-16 font-sans">
  <div class="o-stack text-center text-gray-700">
    <p class="">&copy; 2020&thinsp;&ndash;&thinsp;{{ helpers.currentYear() }} Jan De Wilde &amp; John Peach</p>
    <p class="text-primary">
      <a href="#top" class="u-border-current">↑ To Top</a>
      &middot;
      <a href="mailto:hi@wildpeaches.xyz" class="u-border-current">Email Us</a>
      &middot;
      <a href="https://github.com/jandw/wildpeaches" class="u-border-current"
        >GitHub</a
      >
    </p>
  </div>
</footer>
