<footer class="text-base center-l mt-8 pb-16 font-inter">
  <div class="stack-l text-center">
    <p class="">&copy; 2020&thinsp;&ndash;&thinsp;{{ helpers.currentYear() }} Jan De Wilde &amp; John Peach</p>
    <p>
      <a href="#top" class="border-current">↑ To Top</a>
      &middot;
      <a href="mailto:hi@wildpeaches.xyz" class="border-current">Email Us</a>
      &middot;
      <a href="https://github.com/jandw/wildpeaches" class="border-current"
        >GitHub</a
      >
    </p>
  </div>
</footer>
