<div class="">
  <nav>
    <ul class="content-wrapper global-nav flex flex-center justify-center py-4 list-none font-inter">
      {% for item in navigation.items %}
      <li>
        <a
          href="{{ item.url }}"
          class="{{ item.cssClass }} {{ bodyClass }} border-b-0"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>