<head>
  <!-- META -->
  {% include "meta.html" %}

  <link rel="stylesheet" href="/assets/styles/style.min.css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <title>{{ data.title or title }}</title>

</head> 