  {%- set pageTitle = title + ' – ' + site.name %}

  {#- We don't want any duplication. This is likely for the homepage #}
  {%- if site.name === title %} 
    {%- set pageTitle = title %}
  {%- endif %}

  {%- set siteTitle = site.name %}
  {%- set currentUrl = site.url + page.url %}

  {#- If the page’s frontmatter has specific metaTitle and/or metaDesc items, switch 
    them into the mix #}
  {%- if metaTitle %}
    {%- set pageTitle = metaTitle %}
  {%- endif %}

  {%- if not metaDesc %}
    {%- if subtitle %}
      {%- set metaDesc = subtitle %}
    {%- elseif lede %}  
      {%- set metaDesc = lede %}
    {%- else %}
      {%- set metaDesc = site.tagline %}
    {%- endif %}
  {%- endif %}

  <title>{{ pageTitle }}</title>
  <link rel="canonical" href="{{ currentUrl }}" />

  <meta property="og:site_name" content="{{ siteTitle | safe }}" />
  <meta property="og:title" content="{{ pageTitle | safe }}" />
  <meta property="twitter:title" content="{{ pageTitle | safe }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ currentUrl | safe }}" />
  {%- if socialImg %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ site.url + socialImg }}" />
  <meta name="twitter:image" content="{{ site.url + socialImg }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name | safe }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name | safe }}" />
  {%- endif %}
  {%- if metaDesc %}
  <meta name="description" content="{{ metaDesc | safe }}" />
  <meta name="twitter:description" content="{{ metaDesc | safe }}" />
  <meta property="og:description" content="{{ metaDesc | safe }}" />
  {%- endif %}
