---
layout: default.njk
---
<main id="main" class="text-gray-800 bg-gray-100">
  <div class="post">
    <div class="title">
      <h1>{{title}}</h1>
      <span class="author">by <i>{{author}}</i>
      </span>
    </div>
    {{ content | safe }}
  </div>
</main>