---
title: Wild Peaches
---

<!DOCTYPE html>
<html lang="en-US" dir='ltr'>
  <!-- Did you know the largest living organism is a fungus spanning 2200 acres? I don't know about you, but I find that disturbing. -->
  {% include "head.njk" %}

  <body class="font-base text-lg overflow-x-hidden home-font-features {% if bodyClass %}{{ bodyClass }}{% endif %}">
    {% include 'global-nav.njk' %}
    {{ content | safe}}
    {% include 'footer.njk' %}
  </body>

</html>