/* https://every-layout.dev/layouts/stack/ */
/*  */


.stack-l {
  --space: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-l > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack-l > * + * {
  margin-top: var(--space);
}