/* https://every-layout.dev/layouts/stack/ */
/*  */

.o-stack {
  --space: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.o-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.o-stack > * + * {
  margin-top: var(--space);
}
