---
eleventyExcludeFromCollections: true
permalink: /app.webmanifest
---

{
  "lang": "{{ site.lang }}",
  "name": "{{ site.name }}",
  "short_name": "{{ site.name }}",
  "description": "{{ site.tagline
   }}",
  "theme_color": "{{ site.themeColor }}",
  "background_color": "{{ site.backgroundColor }}",
  "start_url": "/",
  "display": "minimal-ui",
  "icons": [
    {
      "src": "/images/small-icon.png",
      "sizes": "48x48",
      "type": "image/png"
    },
    {
      "src": "/images/large-icon.jpg",
      "sizes": "512x512",
      "type": "image/jpeg"
    }
  ]
}
